* {
  border: 0px red dotted;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  background-color: #1f2937;
  margin: auto;
  padding: 10px;
}

.header,
nav {
  max-width: 1024px;
  height: 62px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}

.menu {
  list-style: none;
}

nav {
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  gap: 40px;
  font-size: 18px;
}

.hero {
  padding-top: 110px;
  padding-bottom: 124px;
  display: flex;
  max-width: 1024px;
  margin: auto;
  justify-content: space-around;
}

.text {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  text-align: left;
  padding-right: 42px;
}

.textmini {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  text-align: left;
}

.signup {
  display: flex;
  margin-top: 15px;
  width: 130px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #3882f6;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}

.container-information {
  display: flex;
  justify-content: center;
  gap: 54px;
  max-width: 890px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 128px;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 44px;
  margin-bottom: 32px;
  color: #1f2937;
}

.info img {
  max-width: 200px;
  border-radius: 16px;
}

.text-information {
  max-width: 156px;
  padding-top: 5px;
}

.container-quote {
  background-color: #e5e7eb;
  max-width: 100%;
  min-height: 428px;
  margin: auto;
}

.quote {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 754px;
  height: 456px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  text-align: left;
  align-items: center;
}

.quote-thor {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  margin-left: auto;
  text-align: right;
}

.footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  min-height: 100px;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
}

.call-to-action {
  display: flex;
  max-width: 1024px;
  background-color: #3882f6;
  min-height: 150px;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  color: white;
}

.call-to-action-title {
  max-width: 1024px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 120px;
}

.call-to-action-text {
  font-size: 18px;
  font-weight: 300;
}

.call-to-action-signup {
  margin-top: 15px;
  width: 130px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #3882f6;
  border-radius: 5px;
  font-size: 18px;
  border: 2px white solid;
}

.call-button {
  display: flex;
  padding-right: 120px;
  padding-bottom: 9px;
}

.img img {
  border-radius: 15px;
}
